body {
	background: #ececec;
}

#header a {
	display: inline-block;
}

#header img {
	width: 200px;
}

.wrap {
	padding: 10px 20px;
	margin-bottom: 10px;
	background: #fff;
	-webkit-box-shadow: 0 5px 5px #ccc;
	-moz-box-shadow: 0 5px 5px #ccc;
	box-shadow: 0 5px 5px #ccc;
}